<!DOCTYPE html>
<html>
<head>
    <title>WorldElite</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'summit_talk' %}">Summit-Talk</a></li>
            <li><a href="{% url 'leader_talk' %}">Leader-Talk</a></li>
            <li><a href="{% url 'about_us' %}">About Us</a></li>
            <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>
